@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        line-height: 1.6;
    }

    header {
        display: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        background-color: #00000000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #logo img {
        max-width: 150px;
        height: auto;
    }

    nav {
        position: relative;
    }

    nav ul {
        display: flex;
        gap: 3px;
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #007bff;
    }

    #check {
        display: none;
    }

    label {
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }

    /* Para celulares mobile */
    @media (max-width: 768px) {
        nav ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right:30px ;
            width: 100%;
            padding: 10px 0;
        }

        nav ul li {
            text-align: center;
            margin: 10px 0;
            flex-direction: row-reverse;
        }

        #check:checked ~ ul {
            display: flex;
        }

        label {
            display: block;
        }
    }

    /* Footer */
    footer {
        background-color: #f8f9fa;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
    }

    footer p {
        color: #333;
        font-size: 0.9rem;
    }
